@use "sass:color";
@use "variables" as v;

.sidebar {
	&__discord {
		background-color: v.$color-discord;
		padding: 0;

		&:hover {
			background-color: color.scale(v.$color-discord, $lightness: 10%);
		}

		a {
			display: flex;
			border-radius: v.$section-border-radius;
			justify-content: center;
			padding: 1rem 1rem 0 1rem;
			margin: auto;
			text-decoration: none;
			color: #fff;
		}

		&__logo {
			max-height: 5rem;
			position: relative;
			bottom: 0.25rem;
		}

		&__wordmark {
			max-height: 2rem;
		}

		&__join-text {
			margin-left: 0.25rem;
		}
	}
}

.main-content {
	display: flex;

	.sidebar__wrapper {
		flex-grow: 1;
	}

	@media (max-width: v.$bp-md) {
		flex-flow: column;
	}
}
