@use "./variables" as v;

.server-details {
	&__details {
		flex: 1 1 20%;

		dl {
			> div {
				padding: 0.5rem 0;
				border-bottom: 1px solid v.$color-light-gray;

				&:last-child {
					border-bottom: 0;
				}

				dt {
					color: v.$color-gray;
					font-weight: bold;
					margin-bottom: 0.5rem;
				}

				dt, dd {
					margin-left: 1rem;
				}
			}
		}
	}

	&__players {
		flex: 1 1 60%;
	}
}
